body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-container input[type="file"] {
    margin-top: 5px;
}

.image-preview {
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image-preview img {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    object-fit: contain;
}

.image-preview p {
    font-size: 14px;
    padding: 8px;
    color: #800000;
}

.image-preview button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
}

.form-container .buttons {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-container .buttons a {
    text-decoration: none;
}

.btn-create {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 14px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-create:hover {
    background-color: darkgreen;
}

.btn-cancel {
    background-color: red;
    font-size: 14px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: darkred;
}

/* Flex container for label and feedback text */
label {
    display: block; /* Use flexbox to align children inline */
    align-items: center; /* Center items vertically */
    font-size: 16px; /* Ensure font size is consistent */
    margin-top: 15px;
}

.label-guide {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 13.5px;
    font-weight: bold;
    margin-top: 3px;
}

/* Space between the input and feedback text */
.feedback {
    margin-left: 0px; /* Space between feedback and input */
    font-size: 13px;
    font-weight: bold;
    color: red; /* Default color, will be overridden by JS */
}

/* Style the input field */
input[type="text"] {
    width: 100%;
    margin-left: 0; /* Space between feedback text and input */
    flex: 1; /* Allows input to take up remaining space */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Optional: style the input field to improve appearance */
input[type="text"]:focus {
    outline: none;
}

input[type="file"] {
    width: 100%;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #800000;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centered vertically and horizontally */
    padding: 0 0 20px 0;
    border: 1px solid #888;
    width: 100%; /* Adjust as needed */
    max-width: 300px; /* Max width */
    text-align: center; /* Center text */
    border-radius: 15px; /* Rounded corners */
}

/* Modal Title */
.modal-title {
    color: #fff; /* Site's official color */
    background-color: #800000;
    font-size: 20px;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 10px 10px 0 0;
}

/* Modal Message */
.modal-message {
    color: #333; /* Dark text color */
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

/* OK Button */
.modal-button {
    background-color: #800000; /* Site's official color */
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
}

/* Button Hover Effect */
.modal-button:hover {
    background-color: #600000; /* Darker shade for hover effect */
}
