<div class="header">
    <div class="logo">
        <a href="{{ url_for('main.home') }}">FlavorBook</a>
    </div>
    <div class="search-container">
        <form action="{{ url_for('main.search') }}" method="get">
            <input type="text" id="searchInput" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="user-menu">
        <button id="meButton">{{ current_user.username }} &#11167;</button>
        <div class="dropdown" id="dropdownMenu">
            <a href="{{ url_for('main.my_recipes') }}" class="settings-link"><i class="bi bi-file-check-fill"></i> My Recipes</a>
            <a href="{{ url_for('main.settings') }}" class="settings-link"><i class="bi bi-gear-fill"></i> Settings</a>
            <form id="logoutForm" action="{{ url_for('main.logout') }}" method="post">
                <button type="submit" class="logout-link"><i class="fa fa-power-off"></i> Log Out</button>
            </form>
        </div>
    </div>
</div>